[user]
	name = Axel Vlaminck
	email = axel.vlaminck@gmail.com
[color]
	ui = true
[alias]
	l = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	c = commit --verbose
	s = status -sb
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
